
/****************************************************************
 * PREVIEW COLUMN
 */

.preview-column {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;

    > div > canvas {
        width: 100%;
        aspect-ratio: 0.7159;
        border: 5px solid var(--fg-color);
    }
}

.card-preview {
    position: relative;

    > button {
        visibility: hidden;
        position: absolute;
        top: calc(50% - 50px);
        left: calc(50% - 50px);
        padding: 10px;
        width: 100px;
        height: 100px;
        border-radius: 50px;
        background-color: #ffffff66;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 0px;
        cursor: pointer;

        > img {
            width: 35px;
        }
    }
    > button:hover {
        border: 3px solid var(--fg-color);
        background-color: #ffffffcc;
    }
}
.card-preview:hover > button {
    visibility: visible;
}

.textbox-preview {
    position: relative;
    width: 100%;
    border: 3px dashed var(--fg-color);
    border-radius: 20px;
    margin-top: 10px;
    padding: 25px 10px 5px 10px;

    > .preview {
        > p {
            padding-bottom: 5px;
            margin-bottom: 5px;
            > b { color: var(--fg-color); }
        }
    }
}

.textbox-preview::before {
    position: absolute;
    box-sizing: border-box;
    top: -15px;
    left: 20px;
    content: 'Textbox preview';
    border: 3px solid var(--fg-color);
    border-radius: 15px;
    /*width: 100px;*/
    height: 30px;
    overflow: hidden;
    padding: 3px 15px;
    background-color: var(--bg-color);
    font-weight: bold;
    color: var(--fg-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/****************************************************************
 * EDITOR
 */
/*#editor:target {
    display: flex;
}*/
#editor {
    /*display: none;*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 10px;
    gap: 5px;

    width: 100%;
    min-height: 100px;
    padding: 10px;

    > div {
        display: flex;
        flex-direction: row;
        justify-content: left;
        gap: 5px;

        height: 50px;
        width: 100%;

        border-bottom: 1px dotted gray;

        > div {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
        }

        > div:first-child {
            flex: 0 0 120px;
            justify-content: left;
        }
    }

    > div.flex-height {
        height: auto;
        > div {
            display: flex;
            flex-direction: column;
            justify-content: left;
            align-items: start;
        }
    }

    > div:last-child {
        border: none;
    }

    > input[type="checkbox"] { display: none; }
    > input[type="checkbox"]:not(:checked) + div { display: none; }

    .card-preview-buttons {
        position: relative;
        top: -5px;
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        gap: 5px;
    
        > div {
            > img {
                height: 25px;
            }
    
            > button {
                border-radius: 10px;
                border: 2px solid var(--fg-color);
                background-color: var(--bg-color);
                color: var(--fg-color);
                height: 25px;
                width: 25px;
                cursor: pointer;
            }
            > button:enabled:hover {
                box-shadow: 0px 0px 10px salmon;
            }
            > button:disabled {
                background-color: var(--off-bg-color);
                color: var(--off-fg-color);
                border-color: var(--off-fg-color);
            }
        }
    }
}

/* CARD ID */
#editor > .card-id {
    height: 15px;
    > div {
        color: #aaa;
        > input {
            background: none;
            border: none;
            text-align: left;
            color: inherit;
        }
    }
}

/* TIER CHECKBOXES */
.tier {
    display: flex;
    flex-direction: row;
    gap: 5px;

    > input[type="checkbox"] {
        display: none;
    }

    > label {
        display: flex;
        border: 2px solid var(--off-fg-color);
        border-radius: 5px;
        width: 35px;
        height: 35px;
        justify-content: center;
        align-items: center;
        background-color: var(--off-bg-color);
        color: var(--off-fg-color);
    }

    > input:checked + label {
        border-color: var(--fg-color);
        background-color: var(--bg-color);
        color: var(--fg-color);
    }
}

/* ATTRIBUTE CHECKBOXES */
.attr {
    display: flex;
    flex-direction: row;
    gap: 5px;

    > input[type="checkbox"] {
        display: none;
    }

    > label {
        display: flex;
        border: 2px solid var(--fg-color);
        border-radius: 5px;
        width: 35px;
        height: 35px;
        justify-content: center;
        align-items: center;
        background-color: var(--off-bg-color);
        color: lightgray;
    }

    > input:checked + label {
        background-color: var(--bg-color);
        color: var(--fg-color);

        > img { filter: invert(1); }
    }

    > label > img {
        filter: invert(.5);
        height: 100%;
    } 
}

/* ADVANCED FEATURES */
.features > div {
    display: flex;
    flex-direction: row;
    gap: 5px;
    border: 2px solid var(--fg-color);
    border-radius: 5px;
    height: 35px;
    min-width: 35px;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    padding: 0px;

    > input { display: none;}
    > label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 35px;
        padding: 0px 5px;
        height: 100%;
        border-radius: 5px;

        > img {
            filter: invert(100);
            height: 100%;
        }
    }
    > label:hover {
        background-color: var(--off-bg-color);
    }

    > input:checked + label {
        background-color: var(--on-color);
    }
}

/* STATS INPUTS */
.stats, .names {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
input, 
select, 
textarea, 
.items > div, 
.subtype > div {
    display: flex;
    border: 2px solid var(--fg-color);
    border-radius: 5px;
    text-align: center;
    background-color: var(--bg-color);
    color: var(--fg-color);
}

.preview.stats > span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--off-fg-color);
    background-color: var(--off-bg-color);
    border-radius: 5px;
    text-align: center;
    color: var(--off-fg-color);
}
.preview.stats > span:not(.disabled) {
    border-color: var(--fg-color);
    background-color: var(--bg-color);
    color: var(--fg-color);
}

.stats > input,
.preview.stats > span {
    width: 35px;
    height: 35px;
}
select, .names > input {
    width: 120px;
    height: 35px;
}

/* TEXTBOX */
.textbox {

    > div {
        flex: 1;

        > textarea {
            text-align: left;
            width: 100%;
            height: 100px;
            padding: 3px;
            margin-bottom: 5px;
        }
    }
}

/* CARD TYPE */
.card-type {
    display: flex;
    gap: 5px;
}

/* ITEMS & SUBTYPE */
.items, .subtype {
    display: flex;
    flex-direction: row;
    gap: 5px;
    
    > div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        height: 35px;
        min-width: 35px;

        > input { display: none; }
        > label {
            height: 100%;
            border-radius: 5px;
            
            > img {
                filter: invert(.5);
                height: 100%;
            }
        }
    }
    > div:not(.disabled) {
        > input:checked + label { background-color: var(--on-color); }
        > label:hover { background-color: var(--off-bg-color); }
        > label > img { filter: invert(1); }
        > input:not(:checked) + label > img { filter: invert(0.75); } 
    }

    > .tier-I > img {
        filter: invert(.75);
        height: 100%;
    } 
}

/* HELP & TOOLTIPS */
.qmark {
    --size: 25px;
    width: var(--size);
    height: var(--size);
    border-radius: calc(var(--size)/2);
    border: 2px solid var(--fg-color);
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5px;
    right: 0px;
    cursor: help;
}

#editor > .help {
    display: none;
    font-style: italic;
    border: 2px solid var(--fg-color);
    background-color: var(--bg-color);
    border-radius: 10px;
    
    > div > div {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: start;
        gap: 3px;
    }
    
    .code {
        font-family: monospace;
        font-style: normal;
        background-color: var(--fg-color);
        color: white;
        border-radius: 5px;
        padding: 1px 3px;
    }
}
#editor > input:checked + .help { display: flex; }


/* DEBUG */

.debug > div {
    > button, > input {
        border: 1px solid black;
        border-radius: 10px;
        height: 20px;
        padding: 5px;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }

    > input {
        width: 50px;
    }
}